@import 'styles/websiteTheme.scss';

.routeLinksContainer {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.routeLinkContainer {
  display: flex;
  flex-direction: row;
  padding: $spacer;
  padding-left: $spacer * 3;
}

.routeLink {
  font-size: 16px;
  font-weight: 600;
}

.pdfLinkContainer {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding-left: $spacer * 4;
}