@import 'styles/websiteTheme.scss';

.footerContainer {
  padding: $spacer * 3 / 2;
  padding-bottom: $spacer * 5;
}

.navigationContainer {
  display: flex;
  flex-direction: row;
  padding: $spacer;
  padding-left: $spacer / 4;
  padding-right: $spacer / 4;
  border-radius: $borderRadius;
  background-color: $textBackgroundGrey;
}