@import 'styles/websiteTheme.scss';

.routeLinkContainer {
  display: flex;
  flex-direction: row;
  padding: $spacer;
  padding-left: $spacer * 3;
}

.routeLink {
  font-size: 16px;
  font-weight: 600;
}