@import 'styles/websiteTheme.scss';

.pageContentContainer {
  flex-basis: 512px;
}

.landingImageContainer {
  display: flex;
  flex-direction: column;
  padding: $spacer * 3 / 2;
}

.landingImage {
  width: 100%;
  border-radius: $borderRadius;
}

.routesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: $spacer * 6;
}

.routeActionContainer {
  padding-top: $spacer * 2;
  text-align: center;  
}

.routeAction {
  padding-left: $spacer * 5 / 8;
  padding-right: $spacer * 5 / 8;
  padding-top: $spacer * 3 / 8;
  padding-bottom: $spacer * 3 / 8;
  border-radius: $borderRadius;
  font-weight: 700;
  font-size: 30px;
}