@import 'styles/websiteTheme.scss';

.navigationContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding-inline: $spacer * 2;
  padding-block-start: $spacer;
  padding-block-end: $spacer * 2;
}

.currentIndexContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.currentIndexLabel {
  display: none;
}

.activeNavigationLink {
  @extend .navigationLink;  
}

.disabledNavigationLink {
  @extend .navigationLink;
  color: $disabledGrey;
}

.navigationLink {
  @extend .navigationText;
}

.navigationText {
  font-weight: 600;
  font-size: 18px;
}

