@import 'styles/websiteTheme.scss';

.itemContainer {
  display: flex;
  flex-direction: column;
  padding: $spacer;
}

.topRowContainer {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;  
}

.thumbnailLink {
  display: flex;
  align-items: flex-start;
}

.thumbnailSvg {
  width: 160px;
  height: 160px;
}

.externalLinksContainer {  
  flex-shrink: 1;
  flex-grow: 1;
  overflow: hidden;
  padding-inline-start: $spacer;
  display: flex;
  flex-direction: column;
  align-items: flex-end;  
}

.externalLinkContainer {
  max-width: 100%;  
  padding-block-end: $spacer * 3 / 2;
  display: flex;
  flex-direction: row;
}

.externalLinkLabel {  
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;  
  font-weight: 600;
  font-size: 16px;
}

.itemLabelsContainer {
  display: flex;
  flex-direction: column;
  padding-inline-start: $spacer / 2;
  padding-block-start: $spacer * 3 / 2;
}

.itemLabelList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.itemLabel {
  margin-inline-end: $spacer; 
  margin-block-end: $spacer;
  background-color: $textBackgroundGrey;
  border-radius: 3px;
  padding-inline: $spacer / 2;
  padding-block-start: $spacer / 8 + 1px;
  padding-block-end: $spacer / 8;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;  
  font-weight: 600;
  font-size: 16px;
}

.emptyListItem {
  display: flex;
  justify-content: center;
  padding: $spacer * 4;
  padding-block-start: $spacer * 3;
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
  color: $disabledGrey;
}