@import 'styles/websiteTheme.scss';

.inputContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchInput {
  flex-grow: 1;
  border-style: solid;
  border-color: black;
  border-radius: $borderRadius;
  border-width: 1.5px;
  padding-inline: $spacer / 2;
  padding-inline-end: $spacer * 3;
  padding-block: $spacer / 8;
  overflow: visible;  
  font-family: monospace;
  font-style: italic;
  font-weight: 600;
  font-size: 18px;
}

.clearSearchContainer {
  margin: 0;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  padding-inline-end: $spacer / 2 - 0.75px;
}

.clearSearchButton {
  cursor: pointer;
  width: 18px;
  height: 18px;
}