@import 'styles/websiteTheme.scss';

.selectButton {
  width: 164px;
  border-style: solid;
  border-color: black;
  border-width: 1.5px;
  border-radius: $borderRadius;;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline: $spacer / 2;
  padding-block: $spacer / 8;  
  cursor: pointer;
}

.buttonLabel {
  flex-grow: 1;
  font-style: italic;
  font-weight: 600;
  font-size: 18px;
}

.buttonArrow {
  padding-inline-start: $spacer;
  width: 14px;
  height: 14px;
}

.selectMenuContainer {
  z-index: 1;
  border-style: solid;
  border-color: black;
  border-width: 1.5px;
  border-radius: $borderRadius;;
  background-color: white;
  display: flex;
  flex-direction: column;  
  padding-bottom: $spacer;
}

.selectMenuItem {
  margin-block-start: $spacer;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline-start: $spacer;
  padding-inline-end: $spacer + $spacer / 2;  
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;

  &:hover {
    background-color: $textBackgroundGrey;
  }
}

.itemCheck {  
  visibility: hidden;
  padding-inline-end: $spacer;
  font-size: 24px;  
}

.itemSelected {
  font-style: italic;

  .itemCheck {
    font-style: normal;
    visibility: visible;
  }
}
