.sectionDividerContainer {
  display: flex;
  flex-direction: column;
  padding-right: 8px;
  padding-bottom: 32px;
  padding-left: 8px;
}

.divider {
  background-color: rgb(238, 238, 238);
  height: 4px;
  border-radius: 2px;
}

.sectionContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 8px;
}

.headerContainer {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 256px;
  display: flex;
  flex-direction: column;
  padding-top: 4px;
}

.labelContainer {
  display: flex;
  flex-direction: row;
  padding-top: 8px;
}

.label {
  background-color: rgb(238, 238, 238);
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 3px;
  font-weight: 700;
}

.bodyContainer {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 512px;
  padding-left: 24px;
  padding-top: 8px;
}
