@import 'styles/websiteTheme.scss';

.pageContentContainer {
  width: 100%;
  max-width: 512px;
}

.itemsFilterContainer {
  display: flex;
  flex-direction: column;
  padding: $spacer * 3 / 2;
}

.sortOrderSelectContainer {
  display: flex;
  flex-direction: row-reverse;
  padding-block-end: $spacer;
}

.musicItemsList {
  display: flex;
  flex-direction: column;
  padding-inline: $spacer / 2;
  padding-block-start: $spacer / 2;
}