@import 'styles/websiteTheme.scss';

.pageContentContainer {
  width: 100%;
  max-width: 512px;
}

.sortSelectContainer {
  border-style: solid;
  border-color: black;
  border-width: 1.5px;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchInput {
  padding: 0;
  -webkit-appearance: textfield;
  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}

.sortSelect {
  margin: 0;
  border: none;
  background-color: white;
  color: black;
  padding-inline: 4px;
  padding-block: 2px;
  font-family: monospace;
  font-weight: 600;
  font-size: 18px;
  line-height: inherit;
  cursor: pointer;
  appearance: none;
  outline: none;
  z-index: 1;
}

.musicItemsContainer {
  display: flex;
  flex-direction: column;
  padding-inline: $spacer / 2;
  padding-block-start: $spacer / 2;
}

.musicItemContainer {
  display: flex;
  flex-direction: column;
  padding: $spacer;
}

.musicItemTopRowContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.thumbnailLink {
  display: flex;
  align-items: flex-start;
}

.thumbnailSvg {
  width: 160px;
  height: 160px;
}

.externalLinksContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.externalLinkContainer {
  padding-block-end: $spacer;
}

.externalLinkLabel {  
  font-weight: 600;
  font-size: 16px;
}

.musicItemLabelsContainer {
  display: flex;
  flex-direction: column;
  padding-inline-start: $spacer / 2;
  padding-block-start: $spacer * 3 / 2;
}

.musicItemLabelList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.musicItemLabel {
  margin-inline-end: $spacer; 
  margin-block-end: $spacer;
  background-color: $textBackgroundGrey;
  border-radius: 3px;
  padding-inline: $spacer / 2;
  padding-block: $spacer / 8;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;  
  font-weight: 600;
  font-size: 16px;
}

.dataPageNavigationContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding-inline: $spacer * 2;
  padding-block-start: $spacer;
  padding-block-end: $spacer * 2;
}

.focusedDataPageIndexDisplayContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.activeFilteredMusicItemsPageLink {
  @extend .filteredMusicItemsPageLink;  
}

.disabledFilteredMusicItemsPageLink {
  @extend .filteredMusicItemsPageLink;
  color: $disabledGrey;
}

.filteredMusicItemsPageLink {
  @extend .filteredMusicItemsPageText;
}

.filteredMusicItemsPageText {
  font-weight: 600;
  font-size: 18px;
}

.filteredMusicItemsPageLabel {
  display: none;
}